<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ListPatients</title>
</head>
<body>
<table>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.birthday}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.phone}"></td>
        <td th:text="${patient.email}"></td>
        <td>
            <form th:action="@{/patients/delete/{id}(id=${patient.id})}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td><a th:href="@{/patients/update/{id}(id=${patient.id})}">Update</a></td>
    </tr>
</table>
</body>
</html>